* {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}
html,
body,
#root {
  /* box-sizing: border-box; */
  /* position: relative; */
  height: 100%;
  /* min-height: 720px;
  min-width: 1270px; */
  max-height: 100%;
}
.backgroundDiv {
  height: 100%;
  width: 100%;
  background-image: url("../img/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.panelDiv {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  display: flex;
  background-color: rgb(95, 91, 91, 0.8);
}
.main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.homeDiv {
  color: aliceblue;
  position: relative;
  text-align: center;
  top: 45%;
}

.MyCourses {
  position: relative;
  margin-top: 10%;
  width: 90%;
  left: 5%;
  overflow: hidden;
}
